#page-wrapper{
background:#f8f8f8 !important;

}

/*---------
 * Login
 ---------*/
 .login-body{
 	width:100%;
 	height:100%;
 	background: #f5f5f5;
 	position:absolute;
 	top:0;right:0;bottom:0;left:0;
 }


 .jumbotron {
 	text-align: center;
 	width: 30rem;
 	border-radius: 0.5rem;
 	top: 0;
 	bottom: 0;
 	left: 0;
 	right: 0;
 	position: absolute;
 	margin: 4rem auto;
 	background-color: #fff;
 	padding: 2rem;
 }

 .container .glyphicon-list-alt {
 	font-size: 10rem;
 	margin-top: 3rem;
 	color: #f96145;
 }

 input {
 	width: 100%;
 	margin-bottom: 1.4rem;
 	padding: 1rem;
 	background-color: #ecf2f4;
 	border-radius: 0.2rem;
 	border: none;
 }
 h2 {
 	margin-bottom: 3rem;
 	font-weight: bold;
 	color: #ababab;
 }
 .btn {
 	border-radius: 0.2rem;
 }
 .btn .glyphicon {
 	font-size: 3rem;
 	color: #fff;
 }
 .full-width {
 	background-color: #8eb5e2;
 	width: 100%;
 	-webkit-border-top-right-radius: 0;
 	-webkit-border-bottom-right-radius: 0;
 	-moz-border-radius-topright: 0;
 	-moz-border-radius-bottomright: 0;
 	border-top-right-radius: 0;
 	border-bottom-right-radius: 0;
 }

 .box {
 	position: absolute;
 	bottom: 0;
 	left: 0;
 	margin-bottom: 3rem;
 	margin-left: 3rem;
 	margin-right: 3rem;
 }
.btn-delete{
	font-size:11px;
	font-weight:normal;
	text-transform: capitalize !important;
	background:#f86067;
	padding:5px 10px;
	text-decoration:none;
	color:#fff;
	&:hover{
		color:#fff;
	}
}

 /*------------*/
// news 
/*--------------*/
.container{
	padding-bottom:50px;

}
.news_thumb{
	border:1px solid #ccc;
	padding-bottom:10px;
	img{
		width:100%;
		height:250px;
		object-fit:cover;
	}
	h4{
		margin:15px 10px;
		text-transform:uppercase;
	}
	p{
		margin:10px;
		font-size:12px;
	}
}

/*-----------------*/
/*
* complaints
 */
.complaint_row{
	a{
		padding:3px 10px;
		margin:0 !important;
		&:hover{
			background:#4e5259 !important;
			color:#f5f5f5 !important;
		}
	}
}

.paper_wrapper{
	width:100%;
	margin-bottom:10px;
	padding:20px 25px;
	background:white;
	.title{
		font-size:22px;

	}
	.date{
		color:#ccc;
	}
	.content{
		p{
			font-size:14px;
		}
	}
	.info{
		padding:10px 0;
		ul{
			list-style:none;
			margin:0;
			padding:0;
		}
	}

}
/*------------------*/
.data-container{
	width:100%;
	background:#fff !important;
}